body{
  font-family: Arial;
  background: #F4F4F4;
  text-align: center;
}

.center{
  margin-top: 250px;
}

nav{
  margin: 50px;
  position: relative;
}

nav button {
  background: none;
  border: none;
  color: #6b7280;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

nav button.active {
  color: #111827;
}

nav button::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #6366f1;
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 5px;
  
  transition: all 0.4s ease;
  opacity: 0; 
}

nav button.active::after {
  opacity: 1; 
}

.room{ 
    display: none;
}
.room.active{ 
    display: block; 
}

.devices {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(2,300px);
  gap: 20px;
  justify-content: center;
}

.card{
  background: #C2E2FA;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 20px;
  transition: 1.2s ease;

  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  text-align: center;  
}

.card.on {
  background: #1A3D64;
  color: white;
}

.toggle {
  display: block;
  margin-top: 15px;
  cursor: pointer;
}

.toggle input{
    display: none; 
}

.toggle div{
  width: 50px;
  height: 25px;
  background: #cbd5e1;
  display: inline-block;
  border-radius: 25px;
  position: relative;
  transition: 0.4s;
}

.toggle div::after {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle input:checked + div {
  background: black;
}

.toggle input:checked + div::after {
  transform: translateX(24px);
}

.home-btn {
  background: #C2E2FA;    
  color: black;              
  border: none;
  border-radius: 12px;       
  padding: 15px 30px;        
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 1.3s ease; 
}

.home-btn:hover {
  background: #1A3D64;  
  color: white;     
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2); 
}